

# useDynLib(SRMData)



####################################################
################## IMPORTS #########################
####################################################

#***************************************************
#*************** R Basics / Linking To *************
#***************************************************

# importFrom(stats, cov)


#***************************************************
#********** Imports (own packages) *****************
#***************************************************

# importFrom(CDM, csink)



#***************************************************
#************** Imports ****************************
#***************************************************

# importFrom(coda, mcmc)




####################################################
################## EXPORTS #########################
####################################################

# export(starts_cov)




################################################
################ S3 methods ####################
################################################

# S3method(summary, starts_uni)